{{ "<!-- Hero -->" | safeHTML }}
<header>

<section class="video v-center">
                <div id="bgVideo" class="background" ><video id="video_background" preload="auto" autoplay="autoplay" loop="loop" style="position: fixed; top: -203px; left: 0px; bottom: 0px; right: 0px; z-index: -100; width: 1422px; height: 799.875px;"><source src="http://www.appsburner.com/video/preview.mp4" type="video/mp4"><source src="http://www.appsburner.com/video/preview.webm" type="video/webm">bgvideo</video></div>
                <div>
	              <!--  <div class="container">
	                    <div class="hero-unit">
	                        <h2>Die Vermarktung Ihrer Immobilie</h2>
	                        <h4 class="subtitle">in unseren Händen – partnerschaftlich, effektiv und verlässlich</h4>
	                        <a style="margin-top:16px;" class="btn btn-large btn-primary" href="http://www.appsburner.com/login.php" target="_blank">Build Your App</a>
	                    </div>-->


                      <section class="home__introduction car-guy-background">
                            <!--<div class="hero-unit ">-->
                                <div class="container">
                          <h1 class="title-xl">Die Vermarktung Ihrer Immobilie</h1>
                          <h2 class="title text-left">in unseren Händen – partnerschaftlich, effektiv und verlässlich </h2>
                          <a class="promo-link"
                             href="http://mediathek.rbb-online.de/tv/was/Makler-Kosten-Alles-besser-f%C3%BCr-die-Mie/rbb-Fernsehen/Video?documentId=34820924&topRessort=tv&bcastId=3914816"
                             target="_blank">
                              <ul class="list-unstyled list-inline home__tv-ad">
                                  <li><img class="play-button" src="/img/home-page/playbutton.svg"></li>
                                  <li><img class="rbb-logo" alt="RBB" src="/img/icons/2x/rbb.png"><br>Beitrag ansehen!</li>
                              </ul>
                          </a>
                          <a class="promo-link"
                             href="http://www.n-tv.de/mediathek/sendungen/Start_up_News/Digitale-Makler-mischen-Immobilienmarkt-auf-article17777966.html"
                             target="_blank">
                              <ul class="list-unstyled list-inline home__tv-ad">
                                  <li><img class="play-button" src="/img/home-page/playbutton.svg"></li>
                                  <li><img class="ntv-logo" alt="RBB" src="/img/icons/ntv.svg"><br>Beitrag ansehen!</li>
                              </ul>
                          </a>

                          <ul class="list-unstyled list-inline list-cards" >
                              <li class="card js-card-rent text-center">
                                  <strong>VERMIETEN</strong>

                                  <h3 class="title-xxl"><sub>ab</sub> 498<sup>&euro;</sup></h3>
                                  <a class="btn btn-primary btn-block uppercase" href="/vermieten">Mehr Zur
                                      Vermietung</a>
                                  <ul class="list-unstyled list-checks">
                                      <li>Exposé inkl. Bewertung</li>
                                      <li>Bewerberkommunikation</li>
                                      <li>Besichtigungen</li>
                                      <li>Schlüsselübergabe</li>
                                  </ul>
                              </li>
                              <li class="card js-card-sell text-center">
                                  <strong>VERKAUFEN</strong>

                                  <h3 class="title-l-alt">Kostenlos<sup>*</sup></h3>
                                  <a class="btn btn-primary btn-block uppercase" href="/verkaufen">Mehr Zum
                                      Verkauf</a>
                                  <ul class="list-unstyled list-checks">
                                      <li>Exposé inkl. Bewertung</li>
                                      <li>Vollständige Dokumentation</li>
                                      <li>Begleitung bis zum Notar</li>
                                      <li>Höherer Verkaufserlös</li>
                                  </ul>
                                  <span class="fine-print">* für Verkäufer in den meisten Bundesländern</span>
                              </li>
                          </ul>
                          <ul class="visible-lg bekannt-aus list-unstyled list-inline" style="vertical-align: bottom; text-align:left;">
                              <li class="top"><strong>
                                      <small>Bekannt aus</small>
                                  </strong></li>
                              <li><img alt="bekannt aus" src="/img/icons/bekannt-aus.png"></li>
                          </ul>

                  <!--  </section>-->
                    </div>
                        <!--</div>-->
                    </section>
	                <!--</div>-->
	            </div>

</section>

</header>
{{ "<!-- Services Section -->" | safeHTML }}
