{{ "<!-- Portfolio Grid Section -->" | safeHTML }}
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading">Der Century 21 Fixpreis im Vergleich<!--{{ with .Site.Params.portfolio.title }}{{ . | markdownify }}{{ end }}--></h2>
                <h3 class="section-subheading text-muted">Seit Einführung des Bestellerprinzip verlangen viele Makler bis zu 2,38 Kaltmieten Provision vom Vermieter. Es geht auch anders! Mit dem Century 21 Fixpreis vermieten Sie Ihre Immobilie ohne Aufwand mit einem Partner der auf mehr als 40 Jahre Erfahrung zurückgreifen kann.<!--{{ with .Site.Params.portfolio.subtitle }}{{ . | markdownify }}{{ end }}--></h3>

                <p>Slider</p>
            </div>
        </div>
      <!--  <div class="row">
            {{ range .Site.Data.projects }}
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal{{ .modalID }}" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/{{ .preview }}" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>{{ .title | markdownify }}</h4>
                    <p class="text-muted">{{ .category | markdownify }}</p>
                </div>
            </div>
            {{ end }}
        </div>-->
    </div>
</section>

<section id="wissensie">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading">Wissen Sie wo Ihr Interessent sucht?</h2>
                <h3 class="section-subheading text-muted">Nein? Wir auch nicht! Jede Immobilie ist einzigartig, genauso wie die Interessenten welche diese besichtigen möchten. Deshalb schalten wir Ihre Immobilie auf über 100 Immobilienportale auf, selbstverständlich auch auf die marktführenden Portale ImmobilienScout24, Immonet und Immowelt.</h3>
                <p>[here comes the logos of immobilienscout24.de, immonet.de and immowelt.de]</p>
            </div>
        </div>

    </div>
</section>

<section id="einerechnung" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading">Eine Rechnung – aber nur im Erfolgsfall</h2>
                <h3 class="section-subheading text-muted">[put on the left of the text a icon which looks like a bill]
Sie möchten keine Kreditkarten-Abbuchung? Keine Lastschrift? Und natürlich nur zahlen wenn wir auch einen Mieter bringen der Ihnen passt? Genau so ist es! Sie erhalten eine Rechnung wenn Sie mit dem von uns nachgewiesenen Mieter einen Mietvertrag abschließen – sind wir erfolglos nehmen wir das auf unsere Kappe und Sie zahlen nichts.</h3>

            </div>
        </div>

    </div>
</section>

<section id="tour">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading">Die 360°-Tour durch Ihre Immobilien</h2>
                <h3 class="section-subheading text-muted">[put on the left of the text a icon which looks like a round 360 degree arrow ]
Als Innovation von Century 21 erstellen wir für Ihre Immobilie eine echte 360°-Tour – damit potentielle Mieter die Immobilie zu jeder Zeit besichtigen können. Durch unsere führende Technik erhalten Ihre neuen Mieter die Gelegenheit die Wohnung auch nach der Besichtigung mehrmals zu begehen – damit Sie langjährige Mieter gewinnen.</h3>

            </div>
        </div>

    </div>
</section>

<section id="inzahlen" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading">CENTURY 21 in Zahlen</h2>
                <h3 class="section-subheading text-muted">[this should be a darker horizontal bar with four different figures about Century 21 similar to this example:]</h3>

            </div>
        </div>

    </div>
</section>

<section id="kontaktieren">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading">Verlieren Sie keine Zeit – kontaktieren Sie uns jetzt!</h2>
                <h3 class="section-subheading text-muted">[put a alarm clock as icon on the left]
Wir wissen es: Zeit ist Geld. Ein Leerstand in einer Immobilie kann teuer werden. Kontaktieren Sie uns deshalb jetzt: wir werden uns umgehend mit Ihnen für einen kostenfreien und unverbindlichen Beratungstermin in Verbindung setzen. Nutzen Sie das nebenstehende Kontaktformular oder rufen Sie uns kostenfrei an: 0800 723 73 94.</h3>

            </div>
        </div>

    </div>
</section>
