{{ "<!-- Services -->" | safeHTML }}
<section id="services">
    <!--<div class="container">

  </div>-->
        <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <h2 class="section-heading">Entspannt vermieten – Geld und Nerven sparen: Century 21 Vermieterservice zum Fixpreis.<!--{{ with .Site.Params.services.title }}{{ . }}{{ end }}--></h2>
                  <h3 class="section-subheading text-muted">Die Vermietung einer Immobilie kann viel Zeit in Anspruch nehmen: das Erstellen von Grundrissen, das Schalten von Exposés, Korrespondenz mit Interessenten, Besichtigungen die abgesagt werden, und und und ... Überlassen Sie dies dem Century 21 Makler zum erfolgsbasierten Fixpreis.
                    <br><br>
                    Unser Paket umfasst alle Dienste bis zur erfolgreichen Übergabe Ihrer Wohnung an den neuen Mieter. Unter anderem:

                    <!--{{ with .Site.Params.services.subtitle }}{{ . | markdownify }}{{ end }}</h3>--></h3>
              </div>
          </div>
        <ul class="list-group row">
             <li class="list-group-item col-sm-6"><span class="glyphicon glyphicon-thumbs-up"></span> Mietwertanalyse</li>
             <li class="list-group-item col-sm-6"><span class="glyphicon glyphicon-thumbs-up"></span> Immobilien-Exposé</li>
             <li class="list-group-item col-sm-6"><span class="glyphicon glyphicon-thumbs-up"></span> Inserate auf Immobilien-Portale</li>
             <li class="list-group-item col-sm-6"><span class="glyphicon glyphicon-thumbs-up"></span> Virtuelle 360°-Tour</li>
             <li class="list-group-item col-sm-6"><span class="glyphicon glyphicon-thumbs-up"></span> Grundrisse</li>
             <li class="list-group-item col-sm-6"><span class="glyphicon glyphicon-thumbs-up"></span> Besichtigungen</li>
             <li class="list-group-item col-sm-6"><span class="glyphicon glyphicon-thumbs-up"></span> Haus & Grund Mietvertrag</li>
             <li class="list-group-item col-sm-6"><span class="glyphicon glyphicon-thumbs-up"></span> Bonitätssicherung der Bewerber</li>
             <li class="list-group-item col-sm-6"><span class="glyphicon glyphicon-thumbs-up"></span> Übergabe der Mietsache</li>
             <li class="list-group-item col-sm-6"><span class="glyphicon glyphicon-thumbs-up"></span> Vermarktung im Century 21 Netzwerk</li>
        </ul>
        </div>
<!--
        <div class="row">
          <div class="col-md-6" style="border:1px;border-color:#ccc;"><span class="glyphicon glyphicon-thumbs-up"></span> Mietwertanalyse</div>
          <div class="col-md-6" style="border:1px; border-color:#ccc;"><span class="glyphicon glyphicon-thumbs-up"></span> Immobilien-Exposé</div>
        </div>

<div class="table-responsive">
        <table class="table table-bordered table-hover">
            <tbody>
                <tr>
                    <td><span class="glyphicon glyphicon-thumbs-up"></span> Mietwertanalyse</td>
                    <td><span class="glyphicon glyphicon-thumbs-up"></span> Immobilien-Exposé</td>
                </tr>
                <tr>
                    <td><span class="glyphicon glyphicon-thumbs-up"></span> Inserate auf Immobilien-Portale</td>
                    <td><span class="glyphicon glyphicon-thumbs-up"></span> Virtuelle 360°-Tour</td>
                </tr>
                <tr>
                    <td><span class="glyphicon glyphicon-thumbs-up"></span> Grundrisse</td>
                    <td><span class="glyphicon glyphicon-thumbs-up"></span> Besichtigungen</td>
                </tr>

                <tr>
                    <td><span class="glyphicon glyphicon-thumbs-up"></span> Haus & Grund Mietvertrag</td>
                    <td><span class="glyphicon glyphicon-thumbs-up"></span> Bonitätssicherung der Bewerber</td>
                </tr>
                <tr>
                    <td><span class="glyphicon glyphicon-thumbs-up"></span> Übergabe der Mietsache</td>
                    <td><span class="glyphicon glyphicon-thumbs-up"></span> Vermarktung im Century 21 Netzwerk</td>
                </tr>
            </tbody>
        </table>
    </div>-->
      <!--  {{ range .Site.Params.services.row }}
        <div class="row text-center">
            {{ range .list }}
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa {{ .icon }} fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">{{ .title | markdownify }}</h4>
                <p class="text-muted">{{ .description | markdownify }}</p>
            </div>
            {{ end }}
        </div>
        {{ end }}-->


</section>
